body {
    background-color:#f1faee;
}
.carousel {
    width: 500px;
    height: 339px;
}
header {
    margin-bottom: 100px;
}
h1 {
    color: #457B9D;
}
.btn-search {
    background-color: #457B9D;
}
.btn-search:hover, .btnt:hover{
    background-color: #A8DADC !important;
}

.btnt {
    background-color: #1D3557 !important;
    color: white !important;
}
#error {
    background-color: #E63946;
    position: relative;
    font-size: 0.8rem;
}
#error::after {
    content : "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 8px solid;
    border-color: #E63946 transparent transparent transparent;
}
main p {
    color: #1D3557;
}

.result {
    margin: 5px;
}
.presentation {
    background-color: #1D3557;
}
footer {
    background-color: #1D3557;
}
@media screen and (max-width: 320px) {
    .carousel {
        display: none;
    }
    .presentation {
        display: block !important;
    }
}
@media screen and (min-width: 320.2px) and (max-width: 575.98px) {
    
    .carousel {
        width: 320px;
        height: 220px;
    }
    .presentation {
        display: none !important;
    }
    header {
        margin-bottom: 50px;
    }

    .input-group :-ms-input-placeholder {
        font-size: 0.8rem;
    }

    .input-group input[placeholder]{
        font-size: 0.8rem;
    }

    .input-group ::-webkit-input-placeholder {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 992px) {
    .carousel {
        width: 764px;
        height: 464px;
    }

    .input-group {
        width: 70% !important;
    }
}


