body {
    background-color:honeydew;
}
.carousel {
    width: 500px;
    height: 339px;
}
header {
    margin-bottom: 100px;
}

@media screen and (max-width: 320px) {
    .carousel {
        display: none;
    }
    .presentation {
        display: block !important;
    }
    .input-group {
        width: 90% !important;
    }
}
@media screen and (min-width: 320.2px) and (max-width: 575.98px) {
    
    .carousel {
        width: 70vw;
        height: 80%;
    }
    .presentation {
        display: none !important;
    }
    header {
        margin-bottom: 50px;
    }

    .input-group {
        width: 80% !important;
    }

    .input-group :-ms-input-placeholder {
        font-size: 0.8rem;
    }

    .input-group input[placeholder]{
        font-size: 0.8rem;
    }

    .input-group ::-webkit-input-placeholder {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 992px) {
    .carousel {
        width: 764px;
        height: 464px;
    }
}

.result {
    margin: 5px;
}
